/*<meta />*/

/*<meta sourceDocument="C:\Users\MG3510\Documents\My Projects\Glasses 31\Glasses 3 API documentation.docx" />*/

p
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

ol
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

ul
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

li
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

td
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	vertical-align: top;
}

h1.Heading1
{
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 12pt;
	margin-bottom: 0pt;
	mc-heading-level: 1;
	font-family: 'Calibri Light';
	color: #2F5496;
	font-size: 16pt;
	font-weight: normal;
}

h2.Heading2
{
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 2pt;
	margin-bottom: 0pt;
	mc-heading-level: 2;
	font-family: 'Calibri Light';
	color: #2F5496;
	font-size: 13pt;
	font-weight: normal;
}

p.ListParagraph
{
	margin-bottom: 8pt;
	font-size: 11pt;
	font-family: Calibri;
}

li.ListParagraph
{
	margin-bottom: 8pt;
	font-size: 11pt;
	font-family: Calibri;
}

h3.Heading3
{
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 2pt;
	margin-bottom: 0pt;
	mc-heading-level: 3;
	font-family: 'Calibri Light';
	color: #1F3763;
	font-size: 12pt;
	font-weight: normal;
}

p.p_1
{
	font-style: italic;
}

col.col_1
{
	width: 92pt;
}

col.col_2
{
	width: 378pt;
}

p.p_2
{
	margin-bottom: 0pt;
}

td.td_1
{
	background-color: #auto;
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
}

p.ListParagraph_1
{
	font-size: 11pt;
	font-family: Calibri;
	margin-bottom: 0pt;
}

li.ListParagraph_1
{
	font-size: 11pt;
	font-family: Calibri;
	margin-bottom: 0pt;
}

ul.ul_1
{
	padding-left: 0px;
	list-style-type: disc;
	margin-left: 36pt;
}

td.td_2
{
	background-color: #auto;
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
}

td.td_3
{
	background-color: #auto;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
}

td.td_4
{
	background-color: #auto;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
}

table.table_1
{
	border-collapse: collapse;
}

span.span_1
{
	font-weight: bold;
}

p.ListParagraph_2
{
	margin-bottom: 8pt;
	font-size: 11pt;
	font-family: Calibri;
	list-style-type: disc;
}

li.ListParagraph_2
{
	margin-bottom: 8pt;
	font-size: 11pt;
	font-family: Calibri;
	list-style-type: disc;
}

p.p_3
{
	font-family: 'Courier New';
}

col.col_3
{
	width: 235pt;
}

p.p_4
{
	margin-bottom: 0pt;
	font-weight: bold;
}

p.p_5
{
	margin-bottom: 0pt;
	font-family: 'Courier New';
}

p.p_6
{
	font-family: Helvetica;
	color: #000000;
	font-size: 14pt;
}

p.p_7
{
	margin-bottom: 0pt;
	font-family: Helvetica;
	color: #000000;
	font-size: 14pt;
}

span.span_2
{
	font-family: 'Courier New';
	color: #000000;
}

ul.ul_2
{
	padding-left: 0px;
	list-style-type: square;
	margin-left: 38pt;
}

p.p_8
{
	font-family: 'Courier New';
	color: #000000;
}

span.span_3
{
	font-family: Helvetica;
	color: #000000;
	font-size: 14pt;
}

